@import './base.css';

body {
  background-color: #2b73af;
  font-size: 15px;
  color: white;
  font-weight: normal;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-content {
  display: flex;
  margin: 10px;
  /* 主轴为列 */
  flex-direction: column;
  /* 主轴上居中对齐 */
  justify-content: center;
  /* 交叉轴上居中对齐 */
  align-items: center;
}

.logo-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo-wrap .desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-wrap .desc .keyword {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.logo-wrap .desc .keyword {
  color: black;
  font-size: 0.9rem;
}

.keyword .item {
  padding: 2px;
  background-color: #e2d849;
}

.product-desc-wrap {
  display: flex;
  margin: 20px;
  padding: 5px;
  flex-wrap: wrap;
  flex-direction: row;
  /* justify-content: center; */
  color: #14283d;
  font-size: 1.1rem;
  background-color: #95c1e4;
}

.image-show-wrap {
  display: flex;
  min-width: 80%;
  margin: 20px;
  flex-direction: row;
  justify-content: center;
  background-color: #1f3e5b;
}

.image-show-wrap .item {
  width: 20%;
}

.image-show-wrap .item img {
  width: 100%;
  padding: 15px;
  /* border: 1px solid red; */
}

.video-show-wrap {
  display: flex;
  margin: 20px;
  padding: 5px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.video-show-wrap .item p {
  text-align: center;
}

.video-show-wrap .item video {
  width: 100%;
  height: auto;
  max-width: 800px;
}

.download-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
}

.download-item {
  margin: 15px;
  width: 35px;
}

.footer {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.contact-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact-item {
  margin: 0 15px;
}

.help-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.privacy, .user-guide {
  margin: 0 15px;
  text-decoration: underline;
}

a,
.green {
  text-decoration: none;
  color: white;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (width < 1024px) {
  #app {
    margin: 5px;
  }

  .logo-wrap {
    margin: 0 20px;
  }

  .logo-wrap img {
    width: 4rem;
    margin: 10px;
  }

  .logo-wrap .desc .title {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .keyword .item {
    margin: 2px;
  }

  .image-show-wrap {
    display: flex;
    min-width: 80%;
    margin: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1f3e5b;
  }

  .image-show-wrap .item {
    width: 80%;
  }

  .image-show-wrap .item img {
    width: 100%;
    padding: 15px 0;
  }

  .video-show-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .video-show-wrap .item {
    max-width: 350px;
  }

  .video-show-wrap .item video {
    width: 100%;
    height: auto;
  }
  
}

@media (min-width: 1024px) {
  #app {
    margin: 10px;
    padding: 2rem;
  }

  .logo-wrap img {
    width: 6rem;
    margin: 10px;
  }

  .logo-wrap .desc .title {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .keyword .item {
    margin: 5px;
  }

  .product-desc-wrap {
    max-width: 60vw;
  }

  .video-show-wrap {
    max-width: 60vw;
  }

  .video-show-wrap .item {
    margin: 20px;
    max-width: 350px;
  }
}
